.row {
    display: flex;
    justify-content: space-around;
}

.col-md-4 {
    flex: 0 0 30%;
}

.placeholder {
    background-color: gray;
    height: 300px;
}

.card-posts {
    display: flex;
}

.related-post {
    background-color: gray;
    height: 150px;
    width: 25%;
    margin: 20px;
}

.media {
    margin-left: 50px;
}

.d-flex {
    /* margin: auto; */
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}

.col-md-4 {
    margin-top: 20px;
}

.my-4 {
    border: none;
    margin-left: 30px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
}

.card-container h5 {
    margin: 0px;
}

.popular-post {
    margin-right: 20px;
    padding-top: 20px;
    height: 60px;
    width: 60px;
    background-color: gray;
    /* vertical-align: middle; */
}

input[type=submit] {
    background-color:#677DC5;
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-decoration: none;
    margin: 4px 2px;
    margin-bottom: 40px;
    cursor: pointer;
}
